.comment {
    font-size: 0.9rem;

    img {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }

    &__header {
        font-size: 0.8rem;
        color: #606060;

        span {
            font-weight: 500;
            color: black;
        }
    }
}
