.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0 8px 40px 8px;
    cursor: pointer;

    .postImg {
        height: 141px;
        position: relative;

        .postIcons {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .watchLater {
                height: 28px;
                border-radius: 2px;
                background-color: rgba(0, 0, 0, 0.8);
                color: white;
                margin: 4px;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;

                .laterIcon {
                    width: 18px;
                    height: 18px;
                }

                .watchTxt {
                    font-size: 12px;
                    font-weight: 500;
                    height: 28px;
                    display: none;
                    padding: 0 4px;
                    margin-right: 2px;
                }

                &:hover {
                    .watchTxt {
                        display: flex;
                        align-items: center;
                    }
                }
            }

            .queue {
                height: 28px;
                border-radius: 2px;
                background-color: rgba(0, 0, 0, 0.8);
                color: white;
                margin: 4px;
                margin-top: 0;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;

                .queueIcon {
                    width: 18px;
                    height: 20px;
                }

                .queueTxt {
                    font-size: 12px;
                    font-weight: 500;
                    height: 28px;
                    display: none;
                    padding: 0 4px;
                    margin-right: 2px;
                }

                &:hover {
                    .queueTxt {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        img {
            width: 100%;
        }

        .length {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 4px;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 3px 4px;
            height: 18px;
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            letter-spacing: 0.5px;
            border-radius: 2px;
        }
    }

    .postInfo {
        display: flex;
        justify-content: flex-start;
        position: relative;

        .menu {
            position: absolute;
            top: 12px;
            right: -4px;
            color: #606060;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
        }

        .profileImg {
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 50%;
            margin: 12px 12px 0 0;
        }

        .txtInfo {
            padding-right: 24px;

            .top {
                height: 40px;
                margin: 12px 0 6px 0;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
            }

            .bottom {
                display: flex;
                flex-direction: column;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0.3px;
                color: #606060;

                .profileName {
                    width: 100%;
                    height: 18px;
                    display: flex;
                    align-items: center;

                    .check {
                        width: 13px;
                        height: 13px;
                        margin: 0 0 1px 4px;
                    }

                    .notCheck {
                        display: none;
                    }
                }

                .postView {
                    width: 100%;
                    height: 18px;
                    display: flex;
                    align-items: center;

                    .counter {
                        &::after {
                            content: "•";
                            margin: 0 4px;
                        }
                    }
                }
            }
        }
    }
}
